# Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# Crash log files
crash.log
crash.*.log

# Exclude all .tfvars files
*.tfvars
*.tfvars.json

# Ignore override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Ignore transient lock info
.terraform.tfstate.lock.info

# Include tfplan files to ignore
*tfplan*

# Ignore CLI configuration files
.terraformrc
terraform.rc

# JSON files (excluding credentials)
*.json
terraform/final-project-creds.json

# Docker related
!Dockerfile
!docker-compose.yml
!.dockerignore
.docker/
*.tar
*.gz
*.env
docker-airflow-logs/

# Kestra configurations
config/*.yaml
config/*.yml

# Logs and temp files
*.log
*.tmp
airflow.db
logs/
docker-airflow-logs/

# Encoded environment file
.env_encoded

# Virtual env and Airflow runtime
venv*/
airflow.db
logs/
*.log

# Python bytecode
__pycache__/
*.pyc

# Bitcoin data file
btc_1d_data_2018_to_2025.csv

# Accidental folders from gsutil setup
exec -l
exec -l 
"exec -l /bin/bash/google-cloud-sdk/"
exec -l /bin
"export GOOGLE_APPLICATION_CREDENTIALS="
export GOOGLE_APPLICATION_CREDENTIALS="

# Test and backup files
crypto_dag_original.py
for_docker.py
test_pull_bitcoin_data.py
test_upload.py
webserver_config.py